@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  background-color: #fafafa;
  color: #111827;
  font-family: 'Inter', sans-serif;
}
